html, body {
  padding: 0;
  margin: 0;
  height: 100%; /* Ensure the body takes full viewport height */
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  /* Add other styles if necessary */
}

.header-text-container {
  background-color: rgba(237, 229, 187); /* White background with some transparency for readability */
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-block; /* This makes the background only as wide as the text */
  margin: 10 auto; /* Override default margins if necessary */
  text-align: center;
}

.header-container {
  text-align: center; /* This will center the text containers in the parent container */
}

.text-container {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  padding: 15px; /* Spacing around the text */
  border-radius: 5px; /* Slightly rounded corners for the container */
  margin-bottom: 15px; /* Add some margin to separate text containers if stacked */
}


.page {
  background-image: url('../golf-background.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space out the main content and the footer */
  height: 100vh;
  overflow-y: auto; /* Enable scrolling if content overflows */
}

.main-content {
  flex: 1; /* Allows the main content to grow and take up available space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}

#page1 {
  /* Other styles... */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Aligns children with space between them */
  align-items: center; /* Centers children horizontally */
  height: 100vh; /* Takes full viewport height */
}

.page-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px; /* Adjust as needed */
  text-align: center;
}


/* Center the golf icon */
#golfIcon {
  width: 250px; /* Increase the width as desired */
  height: auto; /* Maintain the aspect ratio */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Specific styles for the "Start Game" button */
#startGameButton {
  margin-bottom: 50px; 
  border-radius: 20px;
  /* Other styles... */
}

.active {
  display: block;
}

.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #31d53d;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-around;
}

.navigation button {
  flex-grow: 1;
  padding: 10px 20px;
  background: white;
  border: none;
  font-size: 16px;
  color: #333;
  transition: background 0.3s, color 0.3s;
}

.navigation button:hover, .navigation button:focus {
  background: #e9ffe9;
  color: #31d53d;
  outline: none;
}

.game-buttons {
  border-radius: 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
  width: 80%;
  transition: background-color 0.3s, color 0.3s;
}

.game-button:hover {
  background-color: #45a049;
}

.game-details, .course-list {
  display: none; /* Initially hidden */
  padding: 20px;
  text-align: center;
}

.game-details button, .course-item {
  padding: 10px 20px;
  margin-bottom: 20px;
}

.game-name-display {
  /* Add your styling here */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc; /* Example styling */
  text-align: center;
}

.selected-game-name {
  font-size: 18px;
  color: #444;
  margin: 10px 0;
  padding: 5px;
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 5px;
}


#courseSearchInput {
  width: 90%;
  padding: 10px;
  margin: 10px 5%;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.course-list {
  position: absolute;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  background-color: #fff;
  max-height: 300px;
  overflow-y: auto;
}

.course-item {
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  padding: 10px;
}

.course-item:hover {
  background-color: #e9e9e9;
}

.course-details {
  padding: 10px;
  margin-top: 10px;
}


.suggestion {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.suggestion-item:hover {
  background-color: #f0f0f0; /* Adjust color as needed */
}


.suggestion:last-child {
  border-bottom: none;
}


#map {
  width: 100%;
  height: 500px;
  margin-top: 20px;
}

.selected-course {
  border: 1px solid #ccc; /* Example border */
  border-radius: 4px; /* Softer corners */
  padding: 10px; /* Spacing inside the box */
  margin: 20px; /* Spacing outside the box */
  min-height: 50px; /* Minimum height */
  background-color: #f9f9f9; /* Light background for visibility */
  color: #333; /* Text color */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Add more styles as needed */
}

.toggle-switch {
  position: fixed;  /* Fixed positioning at the bottom of the page */
  bottom: 80px;     /* 20px from the bottom */
  left: 50%;        /* Centered horizontally */
  transform: translateX(-50%);
  display: inline-block;
  width: 150px;  /* Increased width */
  height: 50px; /* Increased height */
  z-index: 10;  /* Ensure it's above other content */
}

.toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; /* Light grey background, iOS style */
  transition: 0.4s;
  border-radius: 50px; /* Rounded ends */
}

.toggle-label:before {
  position: absolute;
  content: "";
  height: 42px;  /* Circle slider height, increased */
  width: 42px;   /* Circle slider width, increased */
  left: 4px;
  bottom: 4px;
  background-color: white; /* White circle slider */
  transition: 0.4s;
  border-radius: 50%; /* Circle shape */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Shadow for the slider */
}

.toggle-input:checked + .toggle-label {
  background-color: #4CD964; /* iOS green for 'on' state */
}

.toggle-input:checked + .toggle-label:before {
  transform: translateX(100px); /* Move the slider to the right when checked */
}
